[Unit]
Description=systemd service file for savings app
[Service]
User=root
WorkingDirectory={DIR}
ExecStart={DIR}venv/bin/gunicorn -w {N_WORKERS} main:app -b 0.0.0.0:{YOUR_PORT}
[Install]
WantedBy=default.target
